body {
  background-color: rgb(75, 75, 75);
  color: white;
}

.statusAlert {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 132, 255, 0.185);
  border-color: rgb(0, 132, 255);
  border-style: solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.statusAlert p {
  color: rgb(255, 255, 255);
  font-size: 12.5px;
}

.jelly {
  --uib-size: 100px;
  --uib-speed: .8s;
  --uib-color: rgb(228, 228, 228);

  position: relative;
  height: calc(var(--uib-size) / 2);
  width: var(--uib-size);
  filter: url('#uib-jelly-ooze');
  animation: rotate calc(var(--uib-speed) * 2) linear infinite;
}

.jelly::before,
.jelly::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 25%;
  width: 50%;
  height: 100%;
  background: var(--uib-color);
  border-radius: 100%;
}

.jelly::before {
  animation: shift-left var(--uib-speed) ease infinite;
}

.jelly::after {
  animation: shift-right var(--uib-speed) ease infinite;
}

.jelly-maker {
  width: 0;
  height: 0;
  position: absolute;
}

@keyframes rotate {
  0%,
  49.999%,
  100% {
    transform: none;
  }

  50%,
  99.999% {
    transform: rotate(90deg);
  }
}

@keyframes shift-left {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: scale(0.65) translateX(-75%);
  }
}

@keyframes shift-right {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: scale(0.65) translateX(75%);
  }
}

.loginFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  height: 60vh;
  width: 100vh;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.loginForm img {
  height: 50vh;
  width: 50vh;
  flex-grow: 1;
}

.loginForm h4 {
  font-weight: bold;
  color: rgb(0, 132, 255);
}

.GoogleBtn-Login {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  border-color: rgb(0, 119, 255);
  border-style: solid;
  background-color: transparent;
  transition: all ease-in-out 0.1s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
}

.GoogleBtn-Login img {
  height: 16px;
  width: 16px;
}

.GoogleBtn-Login span {
  flex-grow: 1;
  font-weight: 600;
  color: rgb(0, 102, 255);
  margin-left: 5px;
}

.GoogleBtn-Login:hover {
  transform: scale(1.05, 1.05) translateY(-6px);
  box-shadow: 0px 6px 10px 2px rgb(0, 47, 255);
  -webkit-transform: scale(1.05, 1.05) translateY(-6px);
  -moz-transform: scale(1.05, 1.05) translateY(-6px);
  -ms-transform: scale(1.05, 1.05) translateY(-6px);
  -o-transform: scale(1.05, 1.05) translateY(-6px);
}

.slideUp {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  /* margin-top: -100vh; */
  animation-name: slideUp;
  top: 50%;
  transform: translateY(-50%);
  animation-duration: 1.25s;
  background-color: rgb(94,132,208);
  background-image: url(../assets/rocket.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#slideUpClose {
  position: fixed;
  z-index: 1000;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  animation-name: slideUpClose;
  animation-duration: 3s;
  background-color: rgb(94,132,208);
  background-image: url(../assets/logoAnimate.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@keyframes slideUp {
  0% {
    transform: translateY(50%);
    background-image: none;
    background-color: white;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
  50% {
    transform: translateY(15%);
    background-image: none;
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
}
  80% {
    transform: translateY(15%);
    background-image: none;
    background-color: white;
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
}
  90% {
    transform: translateY(-50%);
    background-image: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  95% {
    background-color: rgb(94,132,208);
  }
  100% {
    background-image: url(../assets/rocket.gif);
  }
}

@keyframes slideUpClose {
  0% {
    opacity: 1;
    transform: translateY(-50%);
    background-color: rgb(94,132,208);
    background-image: url(../assets/rocket.gif);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  25% {
    opacity: 1;
    transform: translateY(-50%);
    background-color: rgb(55,71,239);
    background-image: url(../assets/logoAnimate.gif);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  60% {
    opacity: 1;
    transform: translateY(-50%);
    background-color: rgb(55,71,239);
    background-image: url(../assets/logoAnimate.gif);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  90% {
    opacity: 1;
    transform: translateY(-150%);
    background-color: rgb(55,71,239);
    background-image: url(../assets/logoAnimate.gif);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
}
  100% {
    opacity: 1;
    transform: translateY(-150%);
    background-color: rgb(55,71,239);
    background-image: url(../assets/logoAnimate.gif);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
}
}

.newUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.newUser .space {
  flex-grow: 1;
}

.newUser img {
  height: 62%;
  width: 62%;
  margin-bottom: 18px;
}

.newUser h2 {
  font-weight: bold;
  color: rgb(156, 150, 255);
}

.newUser p {
  margin-top: -18px;
}

.logoText {
  font-weight: 800;
  color: white;
}

.logoText span {
  color: rgb(255, 41, 41);
}

#newUserWelcomeTransition {
  position: fixed;
  z-index: 1000;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  animation-name: newUserWelcomeTransition;
  animation-duration: 3s;
  background-color: rgb(252,68,68);
  background-image: url(../assets/welcomeAnimate.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@keyframes newUserWelcomeTransition {
  0% {
    opacity: 1;
    transform: translateY(-50%);
    background-color: rgb(55,71,239);
    background-image: url(../assets/rocket.gif);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  25% {
    opacity: 1;
    transform: translateY(-50%);
    background-color: rgb(252,68,68);
    background-image: url(../assets/welcomeAnimate.gif);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  60% {
    opacity: 1;
    transform: translateY(-50%);
    background-color: rgb(252,68,68);
    background-image: url(../assets/welcomeAnimate.gif);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  90% {
    opacity: 1;
    transform: translateY(-150%);
    background-color: rgb(252,68,68);
    background-image: url(../assets/welcomeAnimate.gif);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
}
  100% {
    opacity: 1;
    transform: translateY(-150%);
    background-color: rgb(252,68,68);
    background-image: url(../assets/welcomeAnimate.gif);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
}
}

.fadeAnimation {
  animation-duration: 1.25s;
  animation-name: fadeAnimation;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeAnimationClose {
  animation-duration: 1.25s;
  animation-name: fadeAnimationClose;
}

@keyframes fadeAnimationClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flexSparator {
  flex-grow: 1;
}

.homeNavbar {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin-top: 8px;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(35, 123, 255, 0.678);
  backdrop-filter: blur(12px);
  padding: 3.5px;
  color: white;
  width: 98%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.homeNavbar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.homeNavbar h6 {
  align-self: center;
  font-weight: bold;
  margin-top: 0.8%;
  margin-left: 0.4%;
}

.elipsBtn {
  border-radius: 10px;
  border-style: none;
  background-color: transparent;
  transform: scale(1.1, 1.1);
  margin-right: 5px;
  transition: all ease-in-out 0.25s;
  color: rgb(216, 216, 216);
  transition: all ease-in-out 0.2s;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

.elipsBtn:hover {
  background-color: rgba(255, 255, 255, 0.219);
  box-shadow: 0px 0px 5px 1px white;
  color: rgb(255, 255, 255);
}

#elipsSelection {
  display: flex;
  background-color: rgba(100, 100, 100, 0.94);
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 87%;
  padding: 6px;
  border-radius: 10px 0px 10px 10px;
  margin-left: 18.55%;
  margin-top: -10px;
  -webkit-border-radius: 10px 0px 10px 10px;
  -moz-border-radius: 10px 0px 10px 10px;
  -ms-border-radius: 10px 0px 10px 10px;
  -o-border-radius: 10px 0px 10px 10px;
}

.arrowUp {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid rgba(100, 100, 100, 0.94);
  backdrop-filter: blur(5px);
  transform: rotate(-46.5deg);
  margin-left: 93.5%;
  margin-bottom: -10px;
  -webkit-transform: rotate(-46.5deg);
  -moz-transform: rotate(-46.5deg);
  -ms-transform: rotate(-46.5deg);
  -o-transform: rotate(-46.5deg);
  -webkit-transform: rotate(-46deg);
}

.itemElips {
  z-index: 95;
  position: fixed;
  right: 0;
  top: 0;
  margin: 12px;
  margin-top: 55px;
  padding: 10px;
  margin-right: 1.45%;
  width: 200px;
}

.itemElipsOpen {
  animation-name: itemElipsOpen;
  animation-duration: 0.25s;
}

@keyframes itemElipsOpen {
  from {
    opacity: 0;
    transform: translateY(-100px) scale(0,0);
    margin-right: -80px;
    -webkit-transform: translateY(-100px) scale(0,0);
    -moz-transform: translateY(-100px) scale(0,0);
    -ms-transform: translateY(-100px) scale(0,0);
    -o-transform: translateY(-100px) scale(0,0);
}
  to {
    opacity: 1;
    transform: translateY(0) scale(1,1);
    -webkit-transform: translateY(0) scale(1,1);
    -moz-transform: translateY(0) scale(1,1);
    -ms-transform: translateY(0) scale(1,1);
    -o-transform: translateY(0) scale(1,1);
}
}

.itemElipsClose {
  opacity: 0;
  animation-name: itemElipsClose;
  margin-top: -100px;
  animation-duration: 0.25s;
}

@keyframes itemElipsClose {
  from {
    opacity: 1;
    transform: translateY(0) scale(1,1);
    -webkit-transform: translateY(0) scale(1,1);
    -moz-transform: translateY(0) scale(1,1);
    -ms-transform: translateY(0) scale(1,1);
    -o-transform: translateY(0) scale(1,1);
}
  to {
    opacity: 0;
    transform: translateY(-100px) scale(0,0);
    margin-right: -80px;
    -webkit-transform: translateY(-100px) scale(0,0);
    -moz-transform: translateY(-100px) scale(0,0);
    -ms-transform: translateY(-100px) scale(0,0);
    -o-transform: translateY(-100px) scale(0,0);
}
}

#chatListRoom {
  margin-top: 66px;
  height: 88vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#chatListRoom .thisChat {
  margin: 10px;
  background-color: rgb(31, 31, 31);
  padding: 5px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  animation-name: thisChat;
  animation-duration: 0.4s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

@keyframes thisChat {
  0% {
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  35% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

#chatListRoom .thisChat:hover {
  background-color: rgb(54, 54, 54);
}

#chatListRoom .thisChat img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#chatListRoom .thisChat .chatInfo {
  flex-grow: 1;
  margin-left: 15px;
  margin-top: -6px;
}

#chatListRoom .thisChat .chatInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#chatListRoom .thisChat .chatInfo h8 {
  font-weight: bold;
}

#chatListRoom .thisChat .chatInfo p {
  margin-bottom: -5px;
  font-size: 14px;
}

#chatListRoom .thisChat .chatInfo2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -6px;
}

#chatListRoom .thisChat .chatInfo2 p {
  margin-bottom: -5px;
}

#chatListRoom .thisChat .chatInfo2 p:last-child {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  color: gray;
}

#chatListRoom .thisChat .chatInfo2 p:first-child {
  background-color: rgb(0, 102, 255);
  padding: 0px 6px 0px 6px;
  border-radius: 10px;
  font-weight: 540;
  color: rgb(31, 31, 31);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}